.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../about-bg.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding-top: 50px;
}

.portfolio-content {
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.company-section {
    width: 48%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px; 
}


@media (max-width: 768px) {
    .portfolio-content {
        flex-direction: column; 
        align-items: center; 
    }

    .company-section {
        width: 90%; 
    }
}
